/*Body*/
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}

.text-center{
    text-align: center;
}

.clearfix{
    float: none;
    clear: both;
}

.tbl-full{
    width: 100%;
}
.tbl-30{
    width: 30%;
}

table tr th{
    border-bottom: 1px solid black;
    padding: 1%;
    text-align: left;
}
table tr td{
    padding: 1%;
}
.btn-primary{
    color: whitesmoke;
    background-color: #2657eb;
    padding: 1%;
    text-decoration: none;
    font-weight: bold;
}

.btn-primary:hover{
    background-color: #061161;
}

.btn-secondary{
    color: whitesmoke;
    background-color: #11998e;
    padding: 1%;
    text-decoration: none;
    font-weight: bold;
}

.btn-secondary:hover{
    background-color: #0f9b0f;
}

.btn-danger{
    color: whitesmoke;
    background-color: #FF416C;
    padding: 1%;
    text-decoration: none;
    font-weight: bold;
}

.btn-danger:hover{
    background-color: #ED213A;
}

.success{
    color: #1E9600;
}

.error{
    color: #E94057;
}
/*CSS FOR THE MAIN MENU*/

.menu{
    background: #ED213A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border-bottom: 1px solid grey;
}
.menu ul{
    list-style-type: none;
}
.menu ul li{
    display: inline;
    padding: 1%;
}
.menu ul li a{
    text-decoration: none;
    font-weight: bold;
    color: whitesmoke;
}
.menu ul li a:hover{
    color: #ee9ca7;
}

/*CSS FOR THE MAIN CONTENT*/
.main-content{
    background-color: #f1f2f6;
    padding: 3% 0;
}
.col-4{
    width: 18%;
    background-color: #fff;
    margin: 1%;
    padding: 2%;
    float: left;
}

/*CSS FOR THE FOOTER*/
.footer{
    color: #fff;
    background: #ED213A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.footer a{
    color: #009FFF;
}

/* CSS FOR NAV__BAR LOGO */
#navbar__logo {
    background: #FFEFBA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    }

/*CSS for Login class*/
.login{
    border: 1px solid black;
    width: 20%;
    margin: 10% auto;
    padding: 2%;
}
